
.meetingListItem {
    padding: 2px;
}

.version-info {
    position:absolute;
    top:0;
    right:0;
    margin-top: 5px;
    margin-right: 5px;
    text-align: right;
    color: #c7c7c7;
    pointer-events: none;
}

.panel-link:hover, .panel-link:link {
    color: inherit;
}

ul.nav-tabs .active {   /* highlight active nav-tabs item */
    color: inherit;
    background-color: rgba(255, 255, 255, 0.2);
}

a:focus {   /* remove dotted outline on clicked menu / tab items */
    outline: none;
}


@media screen and (max-width: 799px) {
    .version-info {
        display:none;
    }
}
