{
    "env": {
        "//": "Use 'export NODE_ENV=end2end' to use the below babel environment",
        "end2end": {
            "presets": ["es2015"],
            "plugins": [
                "add-module-exports",
                "transform-class-properties"
            ]
        }
    }
}
