.DS_Store
.meteor/local
.meteor/meteorite
.idea/
.vscode/
.iml/
.docker/4minitz_settings.json
.docker/4minitz_bin
.deploy/4minitz_bin/
4minitz_storage/

node_modules/
npm-debug.log
settings.json
tests/snapshots/*.png
tests/mongodump
versions/
tests/e2e_downloads
tests/end2end/logs/*.log

public/fonts/glyphicons-halflings-regular.*

4minitz_settings\.json
*.json.bak
*.code-workspace
jsconfig.json