.DS_Store
.meteor/local
.meteor/meteorite
.idea/
.docker/4minitz_settings.json
.docker/4minitz_bin
.deploy/4minitz_bin/
4minitz_storage/

node_modules
npm-debug.log
settings.json
tests/snapshots/*.png
tests/mongodump
tests/e2e_downloads
public/fonts/glyphicons-halflings-regular.*
*.json.bak

4minitz\.iml


\.deploy/4minitz_bin\.zip

package-lock\.json

4minitz_settings\.json

\.vscode
