<template name="confirmDeleteItem">
    {{#if deleteAllowed}}
        <p>
            {{#markdown}}{{__ 'Dialog.confirmDeleteItemAllowed' _purify='string => string' type=type subject=subject }}{{/markdown}}
        </p>
    {{else}}
        <p>
            {{#markdown}}{{__ 'Dialog.confirmDeleteItemNotAllowed' _purify='string => string' type=type subject=subject }}{{/markdown}}
        </p>
        <p>
            {{#if isActionItem}}
                {{__ 'Dialog.confirmDeleteItemActionItem' }}
            {{else}}
                {{__ 'Dialog.confirmDeleteItemInfoItem' }}
            {{/if}}
        </p>
    {{/if}}
</template>