<template name="confirmDeleteItem">
    {{#if deleteAllowed}}
        <p>{{{__ 'Dialog.confirmDeleteItemAllowed' _purify='string => string' type=type subject=subject }}}</p>
    {{else}}
        <p>
            {{{__ 'Dialog.confirmDeleteItemNotAllowed' _purify='string => string' type=type subject=subject }}}
        </p>
        <p>
            {{#if isActionItem}}
                {{__ 'Dialog.confirmDeleteActionItem' }}
            {{else}}
                {{__ 'Dialog.confirmDeleteInfoItem' }}
            {{/if}}
        </p>
    {{/if}}
</template>