<template name="filterUsage">
    <p>
        {{__ 'Item.Filter.Usage.body' }}
    </p>

    <table class="table">
        <thead>
        <tr>
            <th>{{__ 'Item.Filter.Usage.keyword' }}</th>
            <th>{{__ 'Item.Filter.Usage.format' }}</th>
            <th>{{__ 'Item.Filter.Usage.values' }}</th>
        </tr>
        </thead>
        <tbody>
        {{#each keywords}}
            <tr>
                <td><strong>{{key}}</strong></td>
                <td>{{format}}</td>
                <td>{{values}}</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">{{description}}</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">{{__ 'Item.Filter.Usage.eg' }} {{example}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>


</template>
