<template name="tabAdminUsers">
    <div class="row">
        <form id="adminUser"></form>
        <div class="col-md-5">
            <div class="form-group label-floating">
                <label class="control-label" for="id_adminFilterUsers">{{__ 'admin.users.FilterUsers' }}</label>
                <input class="form-control clear-on-escape" id="id_adminFilterUsers" type="text" autocomplete="off">
            </div>
        </div>
        <div class="col-md-2">
            <div class='checkbox form-group'>
                <label for='id_adminShowInactive'>
                    <input id="id_adminShowInactive" type='checkbox' class='checkbox'>
                    {{__ 'admin.users.ShowInactive' }}
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class='checkbox form-group'>
                <label for='id_adminShowOnline' title="{{__'admin.users.online.Title' }}">
                    <input id="id_adminShowOnline" type='checkbox' class='checkbox'>
                    {{__ 'admin.users.Online' }}
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-default btn-raised"
                    id="btnAdminRegisterNewUser"
                    data-toggle="modal"
                    data-target="#dlgAdminRegisterUser">
                {{__ 'admin.register.Button' }}
            </button>
        </div>
    </div>

    <table class="table" id="id_adminUserTable">
        <thead>
        <tr>
            <td>{{__ 'profile.UserName' }}</td>
            <td>{{__ 'profile.LongName' }}</td>
            <td>{{__ 'profile.EMail' }}</td>
            <td>{{__ 'admin.users.ID' }}</td>
            <td title="{{__ 'admin.users.type.Title' }}">{{__ 'admin.users.type.Column' }}</td>
            <td>{{__ 'admin.users.state.Column' }}</td>
        </tr>
        </thead>
        <tbody>
        {{#each users}}
            <tr style="background-color: {{inactiveStateColor this}};">
                <td>{{this.username}}</td>
                <td>{{this.profile.name}}</td>
                <td><a href="mailto:{{email this}}">{{email this}}</a></td>
                <td style="font-family: 'Monaco', 'Courier New', monospace">{{this._id}}</td>
                <td>{{#if this.isLDAPuser}}{{__ 'admin.users.type.LDAP' }}{{else}}{{__ 'admin.users.type.Standard' }}{{/if}}</td>
                <td>{{inactiveStateText this}}
                    {{#unless this.isLDAPuser}}
                        <a id="id_ToggleInactive" title="{{__ 'admin.users.state.Title' }}">{{__ 'admin.users.state.Toggle' }}</a>
                        <a id="id_EditUserProfile" title="{{__ 'admin.users.EditProfile' }}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    {{/unless}}
                </td>
            </tr>
        {{/each}}
        </tbody></table>
    <p>{{userCount}}</p>

    {{> adminRegisterUser}}
</template>
