<template name="tabAdminUsers">
    <div class="row">
        <form id="adminUser"></form>
        <div class="col-md-7">
            <div class="form-group label-floating">
                <label class="control-label" for="id_adminFilterUsers">Filter Users</label>
                <input class="form-control clear-on-escape" id="id_adminFilterUsers" type="text" autocomplete="off">
            </div>
        </div>
        <div class="col-md-2">
            <div class='checkbox form-group'>
                <label for='id_adminShowInactive'>
                    <input id="id_adminShowInactive" type='checkbox' class='checkbox'>
                    Show Inactive
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-default btn-raised"
                    id="btnAdminRegisterNewUser"
                    data-toggle="modal"
                    data-target="#dlgAdminRegisterUser">
                Register New User...
            </button>
        </div>
    </div>

    <table class="table" id="id_adminUserTable">
        <thead>
        <tr>
            <td>User</td>
            <td>Long Name</td>
            <td>EMail</td>
            <td>ID</td>
            <td title="LDAP user or Standard user">L/S</td>
            <td>In/Active</td>
        </tr>
        </thead>
        <tbody>
        {{#each users}}
            <tr style="background-color: {{inactiveStateColor this}};">
                <td>{{this.username}}</td>
                <td>{{this.profile.name}}</td>
                <td><a href="mailto:{{email this}}">{{email this}}</a></td>
                <td style="font-family: 'Monaco', 'Courier New', monospace">{{this._id}}</td>
                <td>{{#if this.isLDAPuser}}L{{else}}S{{/if}}</td>
                <td>{{inactiveStateText this}}
                    {{#unless this.isLDAPuser}}
                        <a id="id_ToggleInactive" >Toggle</a>
                    {{/unless}}
                </td>
            </tr>
        {{/each}}
        </tbody></table>
    <p>Showing {{userCountVisible}} of {{userCountAll}} users. Use filter to show others.</p>

    {{> adminRegisterUser}}
</template>