<template name="home">

    {{#if currentUser}}
        <ul class="nav nav-tabs">
            <li id="tab_meetings" data-template="meetingSeriesList" role="presentation" class="{{isTabActive 'tab_meetings'}}"><a href="#">Meetings</a></li>
            <li id="tab_actionItems" data-template="actionItemList" data-action="actionItems" role="presentation" class="{{isTabActive 'tab_actionItems'}}"><a href="#">Action Items</a></li>
        </ul>
        <div class="active">
            {{> Template.dynamic template=tab}}
        </div>
    {{else}}

      <!-- This login template embedding is for security only... -->
      <!-- Normally the router.js decides to render the login template if no user is logged in -->
      {{> login}}

    {{/if}}

</template>
