<template name="meetingSeriesDetails">

    {{#with meetingSeries}}
        <!--Include modal dialog for edit meeting series -->
        {{> meetingSeriesEdit this}}

        <h2 class="header">
            Meeting Series:
            {{#if isModerator}}
                <a href="#" data-toggle="modal" data-target="#dlgEditMeetingSeries">
                    {{project}} - {{name}}
                    <span class="glyphicon glyphicon-pencil" style="font-size: 80%;" aria-hidden="true" aria-label="Edit Meeting Series"></span>
                </a>
            {{else}}
                {{project}} - {{name}}
            {{/if}}
        </h2>
    {{/with}}

    {{> error}}

    <ul class="nav nav-tabs">
        <li data-template="minutesList" role="presentation" class="active"><a href="#">Minutes</a></li>
        <li data-template="topicListTab" data-action="open" role="presentation"><a href="#">Open Topics</a></li>
        <li data-template="topicListTab" data-action="closed" role="presentation"><a href="#">Closed Topics</a></li>
    </ul>
    <div class="active">
        {{> Template.dynamic template=tab data=tabData}}
    </div>

    <p></p>
    <a class="btn btn-primary btn-raised" href="/">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" aria-label="Go Back"></span>
        Go Back
    </a>

    <br>
    <br>

    <div class="help panel panel-default">
        <div class="panel-heading">Quick Help</div>
        <div class="panel-body">
            <p>Click on date button to show details for these minutes</p>
            <a href="#" id="btnHideHelp">OK, Hide</a>
        </div>
    </div>
</template>
