<template name="meetingSeriesDetails">
    <h2 class="header center orange-text">
        Meeting Series Details<br>
        {{#with meetingSeries}}
            {{project}} - {{name}}
        {{/with}}
    </h2>
    <div class="divider"></div>

    <p></p>

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Minutes</a></li>
        <li role="presentation"><a href="#">Open Action Items</a></li>
        <li role="presentation"><a href="#">Closed Action Items</a></li>
        <li role="presentation"><a href="#">Decisions</a></li>
    </ul>

    <br>

    <ul class="list-group" style="font-size: 130%;">
        {{#each minutes}}
          <li class="list-group-item">
              <a href="" id="deleteMinutes" class="btn btn-info">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true" aria-label="Remove Meeting Minutes"></span>
              </a>
              <a href="/minutesedit/{{_id}}" class="btn btn-info">{{date}}</a>
              Participants: {{participants}}
          </li>
        {{/each}}
    </ul>

    <p></p>
    <a class="btn btn-primary" href="/">OK</a>

    <br>
    <br>

    <div class="help panel panel-default">
        <div class="panel-heading">Quick Help</div>
        <div class="panel-body">
            <p>Click on date button to show details for these minutes</p>
            <a href="#" id="btnHideHelp">OK, Hide</a>
        </div>
    </div>
</template>
