<template name="meetingSeriesList">
    {{> meetingSeriesAdd}}

    <br>
    <br>

    <ul class="list-group" style="font-size: 130%;">
      {{#each meetingSeriesRow}}
        {{> meetingSeriesOverview}}
      {{/each}}
    </ul>

    <div class="help panel panel-default">
        <div class="panel-heading">Quick Help</div>
        <div class="panel-body">
            <p>With 4minitz you can create minutes for meetings. Fast!</p>
            <p>First create a meeting series, then create meeting minutes on multiple dates for this special meeting type</p>
            <a href="#" class="hidehelp">OK, Hide</a>
        </div>
    </div>
</template>


<template name="meetingSeriesOverview">
        <li class="list-group-item">
            <a href="{{addMinutesPath}}" class="btn btn-info" disabled="{{addMinutesNotAllowed}}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true" aria-label="Add Meeting Minutes"></span>
            </a>
            <a href="meetingseries/{{this._id}}" class="btn btn-info">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true" aria-label="List Meetings Series"></span>
            </a>
            <a href="" id="deleteMeetingSeries" class="btn btn-info">
                <span class="glyphicon glyphicon-trash" aria-hidden="true" aria-label="Delete Meeting Series"></span>
            </a>
            {{project}}: {{name}}
            {{#with lastMin = lastMinutes}}
                {{#if lastMin}}
                  (last minutes of <a href="/minutesedit/{{lastMin._id}}">{{lastMin.date}}</a>)
                {{/if}}
            {{/with}}
            <span class="badge">{{countMinutes}}</span>
        </li>
</template>
