<template name="meetingSeriesDetails">
    <h2 class="header center orange-text">
        Meeting Series Details<br>
        {{#with meetingSeries}}
            {{project}} - {{name}}
        {{/with}}
    </h2>
    <div class="divider"></div>

    <p></p>

    <ul class="nav nav-tabs">
        <li data-template="minutesList" role="presentation"><a href="#">Minutes</a></li>
        <li data-template="actionItemList" data-action="open" role="presentation"><a href="#">Open Action Items</a></li>
        <li data-template="actionItemList" data-action="closed" role="presentation"><a href="#">Closed Action Items</a></li>
        <li data-template="decisionList" role="presentation"><a href="#">Decisions</a></li>
    </ul>
    <div class="active">
        {{> Template.dynamic template=tab data=tabData}}
    </div>

    <p></p>
    <a class="btn btn-primary" href="/">OK</a>

    <br>
    <br>

    <div class="help panel panel-default">
        <div class="panel-heading">Quick Help</div>
        <div class="panel-body">
            <p>Click on date button to show details for these minutes</p>
            <a href="#" id="btnHideHelp">OK, Hide</a>
        </div>
    </div>
</template>
