<template name="meetingSeriesAdd">

    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseMeetingSeriesAdd"
       aria-expanded="false" aria-controls="collapseExample">
        New Meeting Series <span class="glyphicon glyphicon-align-left glyphicon-menu-down" aria-hidden="true"></span>
    </a>

    <div class="collapse" id="collapseMeetingSeriesAdd">
        <div class="well">
            <form>
                <label>Project Name</label>
                <input id="id_meetingproject" type="text"
                       name="meetingproject" placeholder="Project Name"
                        style="width: 100%;">
                <br>
                <br>
                <label>Meeting Name</label>
                <input id="id_meetingname" type="text"
                       name="meetingname" placeholder="Meeting Name"
                        style="width: 100%;">
                <br>
                <br>
                <a class="btn btn-primary" id="btnSave">Create</a>
            </form>
        </div>
    </div>

</template>
