<template name="minutesEditParticipants">
    <div class="form-group">
        <label for="id_participants">Participants</label>

        <div id="id_participants" style="padding-left: 1.5em;">
            {{#each participants}}
            <div class="checkbox">
                <label>
                    <!--With @index we push over the array index to the checkbox event handler-->
                    <input type="checkbox" class="checkbox"
                           name="present" id="btnTogglePresent" data-index="{{@index}}"
                            {{checkedStatePresent}} {{disableUIControl}}>
                </label>
                {{#if isModeratorOfParentSeries this.userId}}
                    <b>{{userNameForId this.userId}}</b>
                {{else}}
                    {{userNameForId this.userId}}
                {{/if}}
            </div>
            {{/each}}
            <input id="edtParticipantsAdditional" type="text" class="form-control"
                   placeholder="Additional Participants..."
                   value="{{participantsAdditional}}" {{disableUIControl}}>
        </div>
    </div>
</template>
