<template name="minutesedit">
    <h2 class="header center orange-text">
        Edit Minutes for Meeting Series<br>
        {{meetingSeries.project}} - {{meetingSeries.name}}
    </h2>

    <p></p>

    <div class="well">
        <form>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_minutesdateInput">Date</label>
                        <div class='input-group date' id='id_minutesdatePicker'>
                            <input id="id_minutesdateInput" type='text' class="form-control" value="{{minutes.date}}" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 text-right">
                    {{#if isFinalized}}
                        Finalized by {{getFinalizedBy.username}} on {{getFinalizedDate}}
                    {{else}}
                        <button type="button" id="btn_finalizeMinutes" class="btn btn-success btn-lg">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true" aria-label="Finalize Minutes"></span>
                            Finalize Minutes
                        </button>
                    {{/if}}
                </div>
            </div>

            <div class="form-group">
                <label for="id_participants" class="active">Participants</label>
                <input id="id_participants" type="text" value="{{minutes.participants}}" class="form-control">
            </div>
            <div class="form-group">
                <label for="id_agenda" class="active">Agenda</label>
                <textarea id="id_agenda" class="form-control">{{minutes.agenda}}</textarea>
            </div>
            <hr>

            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#dlgAddTopic">
                <span class="glyphicon glyphicon-plus" aria-hidden="true" aria-label="Add Topic"></span>
                Add Topic
            </button>


            <br>
            <br>
            {{>topicsList minutes._id}}
        </form>
    </div>


    {{> topicEdit minutes._id}}

</template>
