<template name="minutesList">
    <div class="clearfix">
        {{#if isModeratorOfParentSeries}}
        <div class="pull-right">
            <!-- "Add Minutes" button -->
            <a href="{{addMinutesPath}}" id="btnAddMinutes" class="btn btn-success btn-raised" disabled="{{addMinutesNotAllowed}}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true" aria-label="Add Meeting Minutes"></span>
                Add Minutes
            </a>
        </div>
        {{else}}
            &nbsp;
        {{/if}}
    </div>

    <div class="well">
        <table class="table table-striped">
            <thead style="font-weight: bold;">
                <td>Date</td>
                <td>
                    <span class="hidden-xs">Finalized</span>
                    <span class="glyphicon glyphicon-ok visible-xs" aria-hidden="true" aria-label="Finalized"></span>
                </td>
                <td>Participants</td>
            </thead>
            <tbody>
            {{#each minutes}}
            <tr id="id_MinuteRow">
                <td>
                    <a href="/minutesedit/{{_id}}" id="id_linkToMinutes" style="white-space: nowrap;">
                        {{date}}
                    </a>
                </td>
                <td style="vertical-align: top;">
                    {{#if isFinalized}}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true" aria-label="Finalized"></span>
                    {{else}}
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" aria-label="Finalized"></span>
                    {{/if}}
                </td>
                <td>
                    {{getPresentParticipantNames 60}}  <!-- Limit to max. 60 chars -->
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>