<template name="topicItem">
    <div class="panel {{topicBackgroundColor}}">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a id="btnToggleState" href="#"><span class="glyphicon glyphicon-{{openCloseIcon}}"></span></a>
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{currentCollapseId}}" aria-expanded="true" aria-controls="collapseOne">
                    {{topic.subject}}
                    Resp: {{topic.responsible}}
                    Prio:{{topic.priority}}
                    Due: {{topic.duedate}}
                </a>
                <!-- New-Topic-Label -->
                {{#if topic.isNew}}
                    <span class="badge" style="margin-bottom: 5px;">New</span>
                {{/if}}
                {{#if isEditable}}
                    <span class="pull-right">
                        <a id="btnEditTopic" href="#" data-toggle="modal" data-target="#dlgAddTopic"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a id="btnDelTopic" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                    </span>
                {{/if}}
            </h4>
        </div>
        <div id="collapse-{{currentCollapseId}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                {{#each detailsArray}}
                    <p>{{this.date}} - {{this.text}}</p>
                {{/each}}
            </div>
        </div>
    </div>
</template>