<template name="topicItem">
    <div class="panel {{topicBackgroundColor}}">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                {{#if isEditable}}
                    <a id="btnToggleState" href="#" class="panel-link">
                        <span class="glyphicon glyphicon-{{openCloseIcon}}"></span>
                    </a>
                {{else}}
                    <span class="glyphicon glyphicon-{{openCloseIcon}}"></span>
                {{/if}}

                <a role="button" class="panel-link" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{currentCollapseId}}" aria-expanded="true" aria-controls="collapseOne">
                    {{topic.subject}}
                    Resp: {{topic.responsible}}
                    Prio:{{topic.priority}}
                    Due: {{topic.duedate}}
                </a>
                {{#if isEditable}}
                    <span class="pull-right">
                            <a id="btnEditTopic" href="#" data-toggle="modal" data-target="#dlgAddTopic" class="panel-link">
                                <span class="glyphicon glyphicon-pencil" style="color: {{topicTextColor}};"></span>
                            </a>
                            <a id="btnDelTopic" href="#" class="panel-link">
                                <span class="glyphicon glyphicon-trash" style="color: {{topicTextColor}};"></span>
                            </a>
                        </span>
                {{/if}}
            </h4>
        </div>
        <div id="collapse-{{currentCollapseId}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                {{#each detailsArray}}
                    <p>{{this.date}} - {{this.text}}</p>
                {{/each}}
            </div>
        </div>
    </div>
</template>