<template name="meetingSeriesList">
    {{> meetingSeriesAdd}}

    <br>
    <br>

    <ul class="list-group" style="font-size: 130%;">
      {{#each meetingSeriesRow}}
        {{> meetingSeriesOverview}}
      {{/each}}
    </ul>

    {{#if showQuickHelp}}
        <div class="help panel panel-default">
            <div class="panel-heading">Quick Help</div>
            <div class="panel-body">
            <p>With 4Minitz you can create minutes for meetings.</p>
            <p>First create a new meeting series and invite some other users.<br>
                Then create meeting minutes on multiple dates for your meeting series.</p>
                <a href="#" class="hidehelp">OK, hide</a>
            </div>
        </div>
    {{/if}}
</template>


<template name="meetingSeriesOverview">
        <li class="list-group-item meeting-series-item" style="padding-bottom: 10px;">
            <a href="{{pathFor 'meetingseries' _id=this._id}}">{{project}}: {{name}}</a>
            {{#if isModeratorOfSeries}}
                <span class="glyphicon glyphicon-user"></span>
            {{/if}}
            {{#with lastMin = lastMinutes}}
                {{#if lastMin}}
                    (<span class="hidden-xs">last minutes of </span><a href="{{pathFor 'minutesedit' _id=lastMin._id}}">{{lastMin.date}}</a>
                    {{#if lastMin.isFinalized}}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true" aria-label="Finalized"></span>)
                    {{else}}
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" aria-label="Not finalized"></span>)
                    {{/if}}
                {{/if}}
            {{/with}}
            <span class="badge">{{countMinutes}}</span>
        </li>
</template>
