<template name="meetingSeriesSettingsLabels">

    <div class="panel panel-default">

        <!-- Default panel contents -->
        <div class="panel-heading">{{count getLabels}} labels</div>

        <table class="table" id="table-edit-labels">
            <tbody>
            {{#each getLabels}}
                <tr id="row-label-{{_id}}">
                    <td id="col-label-{{_id}}">
                    <form id="form-label-{{_id}}" class="label-form">
                        <span class="label label-large view-display" id="{{_id}}" style="background-color: {{color}}; color: {{fontColor}};">{{name}}</span>
                        <span class="view-edit controls form-inline" style="display: none;">
                            <input class="form-control evt-submit-enter" name="labelName" type="text" required
                                   data-error-msg='Please enter a valid label name' value="{{name}}">
                            <div class="input-group-btn">
                            <input class="form-control evt-submit-enter label-color-field pick-a-color" name="labelColor-{{_id}}" type="text" value="{{getColorNum}}">
                            </div>
                            <input style="display: none;" type="submit" value="submit">
                        </span>
                    </form>
                    </td>
                    <td class="text-right">
                        <span class="view-display">
                            <a href="#" class="evt-btn-edit-label">Edit</a>
                            &nbsp;
                            <a href="#" class="evt-btn-delete-label">Delete</a>
                        </span>
                        <span class="view-edit" style="display: none">
                            <button class="btn btn-default btn-raised evt-btn-edit-cancel">
                                Cancel
                            </button>
                            <button class="btn btn-success btn-raised evt-btn-edit-save">
                                Save
                            </button>
                        </span>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

</template>