<template name="meetingSeriesOverview">
    <li class="list-group-item meeting-series-item" style="padding-bottom: 10px;">
        <a href="{{pathFor 'meetingseries' _id=this._id}}">{{project}}: {{name}}</a>
        {{#if isModeratorOfSeries}}
            <span class="glyphicon glyphicon-user" title="You are moderator."></span>
        {{/if}}
        {{#if lastMinutesId}}
            (<span class="hidden-xs">last minutes of </span><a href="{{pathFor 'minutesedit' _id=lastMinutesId}}">{{lastMinutesDate}}</a>
            {{#if lastMinutesFinalized}}
                <span class="glyphicon glyphicon-ok" title="Minutes are finalized."
                      aria-hidden="true" aria-label="Finalized"></span>)
            {{else}}
                <span class="glyphicon glyphicon-exclamation-sign" title="Minutes are not finalized."
                      aria-hidden="true" aria-label="Not finalized"></span>)
            {{/if}}
        {{/if}}
        <span class="badge">{{countMinutes}}</span>
    </li>
</template>