<template name="meetingSeriesDetails">
    {{#if authenticating}}
        {{> loading}}
    {{else}}
        {{redirectIfNotAllowed}}
        {{#with meetingSeries}}
            <!--Include modal dialog for edit meeting series -->
            {{> meetingSeriesEdit this}}

            <h2 class="header">
                <span class="hidden-xs">Meeting Series:</span>
                {{project}} - {{name}}
                {{#if isModerator}}
                    <a  data-toggle="modal" data-target="#dlgEditMeetingSeries"
                       id="btnEditMeetingSeries"
                       class="pull-right"
                       title="Configure Meeting Series">

                        <span class="glyphicon glyphicon-cog" title="Edit meeting series attributes."
                              aria-hidden="true" aria-label="Edit Meeting Series"></span>
                    </a>
                    {{#if isMeetingSeriesEdited}}
                        <span style="color:firebrick" class="glyphicon glyphicon-warning-sign pull-right" title="Edited by {{meetingSeriesEditedBy}} (at {{meetingSeriesEditedDate}})"></span>
                    {{/if}}
                {{/if}}
            </h2>
        {{/with}}

        <ul class="nav nav-tabs">
            <li id="tab_minutes" data-template="tabMinutesList" role="presentation" class="{{isTabActive 'tab_minutes'}}"><a >Minutes</a></li>
            <li id="tab_topics" data-template="tabTopics" data-action="topics" role="presentation" class="{{isTabActive 'tab_topics'}}"><a >Topics</a></li>
            <li id="tab_items" data-template="tabItems" data-action="items" role="presentation" class="{{isTabActive 'tab_items'}}"><a >Items</a></li>
        </ul>
        <div class="active">
            {{> Template.dynamic template=tab data=tabData}}
        </div>

        <p></p>
        <a class="btn btn-primary btn-raised" href="{{pathFor '/'}}">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" aria-label="Go Back"></span>
            Go Back
        </a>

        <br>
        <br>

        {{> quickHelp context='meetingSeries' contentTmpl='quickHelpMeetingSeries'}}
    {{/if}}
</template>
