<template name="tabMinutesList">
    <div class="clearfix">
        {{#if isModeratorOfParentSeries}}
        <div class="pull-right">
            <!-- "Create New Minutes" button for "Moderators"-->
            <fieldset {{addMinutesDisabled}}>   <!-- dynamically set disabled=true -->
                <button id="btnAddMinutes" class="btn btn-success btn-raised">
                    <span class="fa fa-plus" aria-hidden="true" aria-label="Create New Minutes"></span>
                    Create New Minutes
                </button>
            </fieldset>
        </div>
        {{else}}
            <div class="pull-right">
                <!-- "Leave Meeting Series" button for "Invited"-->
                <a id="btnLeaveMeetingSeries" class="btn btn-default btn-raised">
                    <span class="fa fa-times" aria-hidden="true" aria-label="Leave Meeting Series"></span>
                    Leave Meeting Series
                </a>
            </div>
        {{/if}}
    </div>

    <div class="well">
        <table class="table table-striped">
            <thead style="font-weight: bold;">
                <td>Date</td>
                <td>
                    <span class="hidden-xs">Finalized</span>
                    <span class="fa fa-check visible-xs" aria-hidden="true" aria-label="Finalized"></span>
                </td>
                <td>Participants</td>
            </thead>
            <tbody>
            {{#each minutes}}
            <tr id="id_MinuteRow">
                <td>
                    <a href="{{pathFor 'minutesedit' _id=_id}}" id="id_linkToMinutes" style="white-space: nowrap;"
                       data-toggle="tooltip" title="{{globalNote}}">
                        {{date}}
                    </a>
                </td>
                <td style="vertical-align: top;">
                    {{#if isFinalized}}
                        <span class="fa fa-check" aria-hidden="true" title="Minutes are finalized."
                              aria-label="Finalized"></span>
                        V{{finalizedVersion}}
                        ({{finalizedBy}})
                    {{else}}
                        <span class="fa fa-exclamation-circle" title="Minutes are not finalized."
                              aria-hidden="true" aria-label="Finalized"></span>
                        V{{finalizedVersion}}
                    {{/if}}
                    {{#if hasAttachments}}
                        <span class="fa fa-paperclip" title="Minutes have attachments."
                              aria-hidden="true" aria-label="HasAttachments"></span>
                    {{/if}}
                </td>
                <td>
                    {{getPresentParticipantNames 60}}  <!-- Limit to max. 60 chars -->
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>