
.meetingListItem {
    padding: 2px;
}

.version-info {
    position:absolute;
    top:0;
    right:0;
    margin-top: 5px;
    margin-right: 5px;
    text-align: right;
    color: #c7c7c7;
    pointer-events: none;
}

.connection-info {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background-color: rgba(255,0,0, 0.5);
    padding: 5px;
}

.panel-link:hover, .panel-link:link {
    color: inherit;
}

/* highlight active nav-tabs item */
ul.nav-tabs {
    background-color: rgba(255, 255, 255, 0.0);
    border-bottom: .333rem solid transparent;
}
ul.nav-tabs li.active {
    border-bottom: .333rem solid teal;
    color: grey;
}
ul.nav-tabs li a,
ul.nav-tabs li a:focus
{
    color: grey !important;
}
ul.nav-tabs li a:hover {
    color: black !important;
}


/* remove dotted outline on clicked menu / tab items */
a:focus {
    outline: none !important;
}

/* for panel lists of topics/action items */
/* .panel-heading sets the default background which can only be
   overwritten with the !important flag  */
.panel-heading.actionitem-open {
    background-color: #77CCCC !important;
}

.panel-heading.actionitem-closed {
    background-color: #DDDDDD !important;
}

.panel-heading.infoitem {
    background-color: #ffffff !important;
}

.username-label {
    font-size: 120%;
    line-height: 250%;
    background-color: #DDDDDD;
    padding: .5em;
    margin-right: .5em;
    font-weight: 100;
    color: black;
}

.label-large {
    font-size: 110% !important;
}


@media screen and (max-width: 799px) {
    .version-info {
        display:none;
    }
}

.sticky-item {
    -webkit-transform: rotate(315deg); /* Safari and Chrome */
    -moz-transform: rotate(315deg);   /* Firefox */
    -ms-transform: rotate(315deg);   /* IE 9 */
    -o-transform: rotate(315deg);   /* Opera */
    transform: rotate(315deg);
}

.active-icon {
    color: blue;
}

.grey-icon {
    color: grey;
}

/* glyphicon menu buttons */
.pull-right-icons .glyphicon {
    padding: 0.3em;
    margin-left: 0.5em;
    font-size: 16px;
}

.pull-right-icons a,
.pull-right-icons a:link,
.pull-right-icons a:visited,
.pull-right-icons a:hover,
.pull-right-icons a:active {
    text-decoration: none;
}


.topicDragDropHandle:hover {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.topicDragDropHandle:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.form-inline .form-control {
    margin-top: -20px;
}

/* Format tables in MarkDown details */
.detailText table {
    border-collapse:separate;
    border:solid darkgray 1px;
    border-radius:6px;
    padding: 10px;
}

.detailText td, .detailText th {
    padding: 10px;
    border-bottom: solid black 1px;
}

.detailText th {
    background: #DDDDDD;
}


@media screen and (max-width: 739px), screen and (min-width: 992px) {
    .minutes-action-buttons .btn-raised {
        width: 100%
    }
}

/* the pick-a-color preview box is not in-line with the input field */
input.pick-a-color {
    margin-bottom: -40px !important;
}

/* prevent adding empty space between color-items of the color picker */
.pick-a-color-markup .color-menu li {
    height: 31px;
}

.align-with-input {
    bottom: -25px;
}