<template name="aboutDialog">
    <div class="modal fade" id="dlgAbout" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{__ 'Buttons.close' }}"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{__ 'About.title' }}
                        <span style="color: white; font-size: 75%;">{{currentUser._id}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="container col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <img id="about-4minitz-logo" src="{{pathForImproved "/"}}apple-touch-icon-120x120.png" style="padding-bottom: 10px;">
                            </div>

                            <div class="col-md-9">
                                {{#if legalNoticeEnabled}}
                                    <a id="btnLegalNotice" >{{legalNoticeLinktext}}</a><br><br>
                                {{/if}}

                                <b>4Minitz</b>
                                {{#with gitVersionInfo}}
                                    {{#if tag}}
                                        <b>{{tag}}</b>
                                    {{/if}}
                                    {{#if date}}
                                        {{date}}
                                    {{/if}}
                                    <br>Branch: {{branch}} ({{commitshort}})<br>
                                {{/with}}
                                (C) 2015-{{currentYear}} {{__ 'About.copyrightTeam' }}<br>
                                <a href="https://github.com/4minitz/4minitz/blob/develop/LICENSE.md" target="_blank">{{__ 'About.licensedUnder' }}</a><br>
                                <a href="{{pathForImproved "/"}}LicensesOfDependencies.txt" target="_blank">{{__ 'About.licenseDependencies' }}</a><br>
                                <a href="https://github.com/4minitz/4minitz" target="_blank">{{__ 'About.forkGitHub' }}</a>
                                <br>

                                {{#if displayStatistics}}
                                    {{> aboutStatistics}}
                                {{/if}}

                                <div style="margin-top: 0.75em;">
                                    <b style="color: darkgray;">
                                        <a href="https://github.com/4minitz/4minitz/graphs/contributors" target="_blank">{{__ 'About.thanksContributors' }}</a><br>
                                        <a href="https://github.com/4minitz/4minitz/blob/develop/README_TRANSLATIONS.md" target="_blank">{{__ 'About.thanksTranslators' }}</a><br>
                                    </b>
                                </div>

                                <div style="margin-top: 0.75em;">
                                    <b style="color: darkgray;">{{__ 'About.proudlySponsored' }}</b><br>
                                    <a href="http://www.methodpark.de" target="_blank"><img src="{{pathForImproved "/"}}sponsor_methodpark.png" style="height: 2em;"></a><br>
                                </div>

                                <div style="margin-top: 0.75em; overflow: hidden;">
                                    <b style="color: darkgray;">{{__ 'About.specialThanks' }}</b>
                                <div style="max-height: 111px; overflow-y: scroll">
                                    <ul>
    <li><a target="_blank" href="https://nodejs.org">Node.js</a></li>
    <li><a target="_blank" href="https://www.mongodb.com">MongoDB</a></li>
    <li><a target="_blank" href="http://meteor.com/">Meteor.js</a></li>
    <li>
        <a target="_blank" href="http://getbootstrap.com/">Bootstrap</a>
        <br>-----------------
    </li>
    <li><a target="_blank" href="https://github.com/alanning/meteor-roles">alanning:roles</a></li>
    <li><a target="_blank" href="https://github.com/JackAdams/meteor-accounts-ldap/">babrahams:accounts-ldap</a></li>
    <li><a target="_blank" href="https://github.com/felixble/meteor-server-templates">felixble:server-templates</a></li>
    <li><a target="_blank" href="https://github.com/FezVrasta/bootstrap-material-design">fezvrasta:bootstrap-material-design</a></li>
    <li><a target="_blank" href="https://github.com/jagi/astronomy">jagi:astronomy</a></li>
    <li><a target="_blank" href="https://github.com/jquery/jquery">jquery:jquery</a></li>
    <li><a target="_blank" href="https://github.com/jquery/jquery-ui">jquery:jquery-ui</a></li>
    <li><a target="_blank" href="https://github.com/VeliovGroup/flow-router">ostrio:flow-router-extra</a></li>
    <li><a target="_blank" href="https://github.com/mcavage/node-ldapjs">mcavage:node-ldapjs</a></li>
    <li><a target="_blank" href="https://github.com/kadirahq/subs-manager">meteorhacks:subs-manager</a></li>
    <li><a target="_blank" href="https://github.com/moment/moment/">moment:moment</a></li>
    <li><a target="_blank" href="https://github.com/select2/select2">natestrauser:select2</a></li>
    <li><a target="_blank" href="https://github.com/perak/markdown">perak:markdown</a></li>
    <li><a target="_blank" href="https://github.com/percolatestudio/meteor-migrations">percolate:migrations</a></li>
    <li><a target="_blank" href="https://github.com/lauren/pick-a-color">rcy:pick-a-color</a></li>
    <li><a target="_blank" href="https://github.com/sergeyt/meteor-typeahead">sergeyt:typeahead</a></li>
    <li><a target="_blank" href="https://github.com/VeliovGroup/Meteor-Files">VeliovGroup:Meteor-Files</a></li>
    <li><a target="_blank" href="https://github.com/vazco/meteor-universe-i18n">universe:i18n</a></li>
    <li><a target="_blank" href="https://github.com/vazco/universe-i18n-blaze/">universe:i18n-blaze</a></li>
                                    </ul>
                                </div>
                            </div>
                                </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{{__ 'Buttons.ok' }}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>
