
<!--This template is shown on the login screen
    if not deactivated in settings.json via "showInfoOnLogin" -->

<template name="loginInfo">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading" style="font-size: 140%;">
                    <span class="glyphicon glyphicon-send" aria-hidden="true" style="font-size: 150%; top: +0.2em;"></span>
                    &nbsp;Prepare Agenda
                </div>
                <div class="panel-body">
                    <ul style="padding-left: 10px;">
                        <li>Create your meeting series</li>
                        <li>Invite other users</li>
                        <li>Fill agenda with topics</li>
                        <li>Mark recurring topics for standard agenda</li>
                        <li>Send agenda to invited users</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading" style="font-size: 140%;">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 150%; top: +0.2em;"></span>
                    &nbsp;Document Minutes
                </div>
                <div class="panel-body">
                    <ul style="padding-left: 10px;">
                        <li>Tick-off present participants</li>
                        <li>Add action items with responsibles to topics</li>
                        <li>Add information items to topics</li>
                        <li>Add labels like "Decision" to items</li>
                        <li>Send meeting minutes &amp; action items via EMail</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading" style="font-size: 140%;">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 150%; top: +0.2em;"></span>
                    &nbsp;Track Topics
                </div>
                <div class="panel-body">
                    <ul style="padding-left: 10px;">
                        <li>Open action items automatically show up next time</li>
                        <li>Non-closed topics automatically show up next time</li>
                        <li>Search list of all ever discussed topics</li>
                        <li>Enrich topics with info items on multiple meetings</li>
                        <li>Find topics with labels (e.g. all Decisions)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
