<template name="loginLdap">
    <div class="at-form">
        <div class="at-title">
            <h3>{{__ 'Login.signIn' }}</h3>
        </div>

        <form id="ldapLoginForm">
            <fieldset>
                <div class="form-group label-floating">
                    <label class="control-label" for="id_ldapUsername">{{LDAPLabel4Username}}</label>
                    <input class="form-control" id="id_ldapUsername" type="text" required
                           data-error-msg="{{__ 'Login.Error.username' }}" autocomplete="off">
                </div>
                <div class="form-group label-floating">
                    <label class="control-label" for="id_ldapPassword">{{LDAPLabel4Password}}</label>
                    <input class="form-control" id="id_ldapPassword" type="password" required
                           data-error-msg="{{__ 'Login.Error.password' }}" autocomplete="off">
                </div>
                <br>
                <button id="idBtnLdapSignIn"
                        class="at-btn submit btn btn-lg btn-block btn-default btn-primary btn-raised"
                        aria-hidden="true" aria-label="Sign In" type="submit">
                    {{__ 'Login.signIn' }}
                </button>
            </fieldset>
        </form>
    </div>
</template>
