<template name="markdownHint">
    <pre># Heading Level 1
## Heading Level 2
Text in **bold** or *italic* or ***bold-italic***
Text in ~~striked~~ or ```code```
> This is a quote

Direct Link https://www.4minitz.com/
or named link to [4Minitz!](https://www.4minitz.com/)

Numbered List
1. Numbered Item
1. Numbered Item

Bullet List
- Item
- Item

Image: ![]({{pathForImproved '/'}}loading-gears.gif "Tooltip Text")

| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col 3 is      | right-aligned | $1600 |
| col 2 is      | centered      |   $1  |</pre>
    Link to <a target='_blank' href='https://guides.github.com/features/mastering-markdown/'>Full Markdown Help</a>
</template>
