<template name="passwordChangeDialog">
    <div class="modal fade" id="dlgChangePassword" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="Change Password">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{__ 'profile.changePassword.Label' }} {{currentUser.username}}</h4>
                </div>
                <form id="frmDlgChangePassword">
                    <div class="modal-body">
                        <div class="form-group label-floating">
                            <label for="id_oldPassword" class="control-label">{{__ 'profile.changePassword.OldPassword' }}</label>
                            <input id="id_oldPassword" type="password" class="form-control"
                                   required data-error-msg="{{__ 'profile.changePassword.WrongOldPassword' }}" autocomplete="off">
                        </div>
                        <div class="form-group label-floating">
                            <label for="id_newPassword1" class="control-label">{{__ 'profile.changePassword.NewPassword' }}</label>
                            <input id="id_newPassword1" type="password" class="form-control"
                                   required autocomplete="off">
                        </div>
                        <div class="form-group label-floating">
                            <label for="id_newPassword2" class="control-label">{{__ 'profile.changePassword.NewPasswordRepeat' }}</label>
                            <input id="id_newPassword2" type="password" class="form-control"
                                   required autocomplete="off">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnChangePasswordCancel" class="btn btn-default" data-dismiss="modal">{{__ 'buttons.Cancel' }}</button>
                        <button type="submit" id="btnChangePasswordSave" class="btn btn-primary btn-raised">{{__ 'buttons.Change' }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</template>
