<template name="resetPassword">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div>
                {{> atForm state='resetPwd'}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            Coded with ❤ by the <a href="https://www.4minitz.com" style="Margin: 0; color: #2199e8; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; text-decoration: none">4Minitz.com</a> WebApp Team
        </div>
    </div>
</template>
