<template name="confirmationDialogDeleteMinutes">
    <p>{{{__ 'Dialog.ConfirmDeleteMinutes.really' _purify='string => string' minutesDate=minutesDate }}}</p>
    {{#if hasNewTopics}}
        <p>{{{__ 'Dialog.ConfirmDeleteMinutes.newTopics' _purify='string => string' newTopicsCount=newTopicsCount }}}</p>
    {{/if}}
    {{#if hasClosedTopics}}
        <p>
            {{#if hasNewTopics}}
                {{{__ 'Dialog.ConfirmDeleteMinutes.closedTopicsAdditionally' _purify='string => string' closedTopicsCount=closedTopicsCount }}}
            {{else}}
                {{{__ 'Dialog.ConfirmDeleteMinutes.closedTopics' _purify='string => string' closedTopicsCount=closedTopicsCount }}}
            {{/if}} 
        </p>
    {{/if}}
</template>