<template name="confirmationDialogFinalize">
    Do you really want to finalize this meeting minute dated on <strong>{{minutesDate}}</strong>?
    {{#if hasOpenActionItems}}
        <div class='checkbox form-group'>
            <label for='cbSendAI'>
                <input id='cbSendAI' type='checkbox' class='checkbox' {{sendActionItems}}> Send Action Items To Responsibles
            </label>
        </div>
     {{/if}}
    <div class='checkbox form-group'>
        <label for='cbSendII'>
            <input id='cbSendII' type='checkbox' class='checkbox' {{sendInformationItems}}> Send Meeting Minutes (Information Items & Action Items)
        </label>
    </div>
</template>