<template name="minutesedit">
    {{#if authenticating}}
        {{> loading}}
    {{else}}
        {{#if canShow}}
            {{!
                This will not display any content instead it will check if the minute is linked to the parent series
                and display an error message reactively.
                The error message will be removed when destroying the template
            }}
            {{checkParentSeries}}
            {{!
                Invoke an initialization once the main template is rendered.
                TODO: Find a better solution.
            }}
            {{initialize}}

            <h2 class="header">
                Minutes for
                <a id="id_linkToParentSeries" href="{{pathFor 'meetingseries' _id=meetingSeries._id}}"
                   title="{{finalizeHistoryTooltip}}">
                    {{meetingSeries.project}} - {{meetingSeries.name}}
                </a>
            </h2>

            {{> error}}
            <p></p>

            <div class="well">
                <form>
                    <div class="row">
                        {{#if isFinalized}}
                            <div class="col-md-8 col-md-push-4 text-right minutes-action-buttons">
                                <!--Static Finalize Text -->
                                <span id="txt_FinalizedBy" title="{{finalizeHistoryTooltip}}">
                                    {{getFinalizedText}}
                                </span>
                                {{#if isModeratorOfParentSeries}}
                                    {{#if isUnfinalizeAllowed}}
                                        <!--Unfinalize Button -->
                                        <a href="" id="btn_unfinalizeMinutes" class="btn btn-default hidden-print"
                                           data-toggle="tooltip"
                                           title="{{finalizeHistoryTooltip "Click to Un-Finalize Minutes"}}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    {{/if}}
                                {{/if}}
                                <!--Print Button #1 of 3-->
                                <button type="button" id="btn_printMinutes" class="btn {{isPrintView}} hidden-print"
                                        title="Print Minutes">
                                    <span class="glyphicon glyphicon-print" aria-hidden="true"
                                          aria-label="Print View"></span>
                                </button>
                            </div>
                        {{else}}
                            {{#if isModeratorOfParentSeries}}
                                <div class="col-md-4 col-md-push-4 text-right minutes-action-buttons">
                                    <!--Send Agenda Button-->
                                    <button type="button" id="btn_sendAgenda"
                                            class="btn btn-lg btn-raised hidden-print">
                                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"
                                              aria-label="Send Agenda"></span>
                                        Send Agenda
                                    </button>

                                    <!--Print Button #2 of 3-->
                                    <button type="button" id="btn_printMinutes"
                                            class="btn btn-lg btn-raised {{isPrintView}} hidden-print"
                                            title="Print Minutes">
                                        <span class="glyphicon glyphicon-print" aria-hidden="true"
                                              aria-label="Print View"></span>
                                        Print Minutes
                                    </button>
                                </div>
                                <div class="col-md-4 col-md-push-4 text-right minutes-action-buttons">
                                    <!--Finalize Minutes Button-->
                                    <button type="button" id="btn_finalizeMinutes"
                                            class="btn btn-success btn-lg btn-raised hidden-print"
                                            data-toggle="tooltip"
                                            title="{{finalizeHistoryTooltip "Click to Finalize Minutes"}}">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"
                                              aria-label="Finalize Minutes"></span>
                                        Finalize Minutes
                                    </button>

                                    <!--Delete Minutes Button-->
                                    <button type="button" id="btn_deleteMinutes"
                                            class="btn btn-danger btn-lg btn-raised hidden-print">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"
                                              aria-label="Delete Minutes"></span>
                                        Delete Minutes
                                    </button>
                                </div>
                            {{else}}
                                <div class="col-md-4 col-md-push-8 text-right minutes-action-buttons">
                                    <!--Print Button #3 of 3-->
                                    <button type="button" id="btn_printMinutes"
                                            class="btn btn-lg btn-raised {{isPrintView}} hidden-print"
                                            title="Print Minutes">
                                        <span class="glyphicon glyphicon-print" aria-hidden="true"
                                              aria-label="Print View"></span>
                                        Print Minutes
                                    </button>
                                </div>
                            {{/if}}
                        {{/if}}

                        <!--Date Picker-->
                        <div class="col-md-4 col-md-pull-8" style="max-width: 15em;">
                            <div class="form-group">
                                <label for="id_minutesdateInput">Date</label>
                                <div class='input-group date' id='id_minutesdatePicker'>
                                    <input id="id_minutesdateInput" type='text' class="form-control"
                                           value="{{minutes.date}}" {{disableUIControl}}/>
                                    <span class="input-group-addon hidden-print">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="form-group">
                        <label for="editGlobalNotes">Global Note</label>
                        <input id="editGlobalNotes" type="text" class="form-control"
                               placeholder="Global Note for this minutes..."
                               value="{{minutes.globalNote}}"  {{disableUIControl}}>

                    </div>

                    {{> minutesEditParticipants minutes}}

                    {{#unless isFinalized}}
                        {{#if isModeratorOfParentSeries}}
                            <button id="id_showAddTopicDialog" type="button"
                                    class="btn btn-primary btn-lg btn-raised hidden-print" data-toggle="modal"
                                    data-target="#dlgAddTopic">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true" aria-label="Add Topic"></span>
                                <span class="hidden-xs">Add</span> Topic
                            </button>
                        {{/if}}
                    {{/unless}}

                    <!--Responsive Expand / Collapse All buttons-->
                    <button id="btnCollapseAll" type="button" class="btn btn-default {{mobileButton}} hidden-print">
                        {{#if isReadOnly}}
                            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                            Collapse Topics
                        {{else}}
                            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                            <span class="hidden-xs">Collapse Topics</span>
                        {{/if}}
                    </button>
                    <button id="btnExpandAll" type="button" class="btn btn-default {{mobileButton}} hidden-print">
                        {{#if isReadOnly}}
                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            Expand Topics
                        {{else}}
                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            <span class="hidden-xs">Expand Topics</span>
                        {{/if}}
                    </button>

                </form>
            </div>

            {{>topicsList getTopicsListConfig}}

            {{#if showQuickHelp}}
                <div class="help panel panel-default hidden-print">
                    <div class="panel-heading">Quick Help</div>
                    <div class="panel-body">
                        <p>
                            Add topics to prepare your meeting agenda<br>
                            Then tick off a topic to make clear you have talked about it during the meeting. If the
                            topic contains
                            unchecked action items it will be presented in the next minute again.
                        </p>
                        <p>
                            Click 'Finalize Minutes' to send the minutes to the invited users and the action items to
                            their responsibles.
                        </p>
                        <a href="#" id="btnHideHelp">OK, hide</a>
                    </div>
                </div>
            {{/if}}

            {{> topicEdit minutes._id}}
            {{> topicInfoItemEdit minutes._id}}
        {{/if}}
    {{/if}}
</template>
