<template name="quickHelpMeeting">
    <p>
        Add topics to prepare your meeting agenda<br>
        During the meeting mark a topic with the checkbox to make clear you have discussed about it.<br>
        If the topic...<br>
        &nbsp;&nbsp; - is not marked as discussed or<br>
        &nbsp;&nbsp; - is set as recurring topic or<br>
        &nbsp;&nbsp; - contains un-done action items<br>
        ... the topic will be presented in the next meeting again.
    </p>
    <p>
        Click 'Finalize Minutes' to send the minutes to the invited users and the action items to
        their responsibles.
    </p>
</template>