<template name="meeting">
    <h2 class="header center orange-text">
        List Minutes for Meeting<br>
        {{meeting.project}} - {{meeting.name}}
    </h2>
    <div class="divider"></div>

    <p></p>
    <ul class="list-group" style="font-size: 130%;">
        {{#each minutes}}
          <li class="list-group-item">
              <a href="/minutesedit/{{this._id}}" class="btn btn-info">{{date}}</a>
              Participants: {{participants}}
          </li>
        {{/each}}
    </ul>

    <p></p>
    <a class="btn btn-primary" href="/">OK</a>

    <br>
    <br>

    <div class="help panel panel-default">
        <div class="panel-heading">Quick Help</div>
        <div class="panel-body">
            <p>Click on date button to show details for these minutes</p>
            <a href="#" id="btnHideHelp">OK, Hide</a>
        </div>
    </div>
</template>
