<template name="meetinglist">
    {{> meetingnew}}

    <br>
    <br>

    <ul class="list-group" style="font-size: 130%;">
      {{#each meetings}}
        {{> meeting}}
      {{/each}}
    </ul>

    <div class="help panel panel-default">
        <div class="panel-heading">Quick Help</div>
        <div class="panel-body">
            <p>With 4minitz you can create minutes for meetings. Fast!</p>
            <p>First create a meeting type, then create minutes on multiple dates for this special meeting type</p>
            <a href="#" class="hidehelp">OK, Hide</a>
        </div>
    </div>
</template>


<template name="meeting">
        <li class="list-group-item">
            <a href="minutesadd/{{this._id}}" class="btn btn-info">
                <span class="glyphicon glyphicon-plus" aria-hidden="true" aria-label="Add Meeting"></span>
            </a>
            <a href="minuteslist/{{this._id}}" class="btn btn-info">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true" aria-label="List Meetings"></span>
            </a>
            <a id="deleteMeeting" class="btn btn-info">
                <span class="glyphicon glyphicon-trash" aria-hidden="true" aria-label="Delete Meeting"></span>
            </a>

            {{this.project}}: {{this.name}}
            ({{countMinutes}}{{#if lastMinutes}},
            last minutes of <a href="/minutesedit/{{lastMinutes._id}}">{{lastMinutes.date}}</a>
        {{/if}}
            )
        </li>
</template>
