<template name="meetingnew">

    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="id_meetingproject" type="text" name="meetingproject">
                    <label for="id_meetingproject">Project</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="id_meetingname" type="text" name="meetingname">
                    <label for="id_meetingname">Meeting Name</label>
                </div>
            </div>
            <a class="waves-effect waves-light btn" id="btnSave">Create</a>
        </form>
    </div>

</template>
