<template name="minuteslist">
    <h2 class="header center orange-text">
        List Minutes for Meeting<br>
        {{meeting.project}} - {{meeting.name}}
    </h2>
    <div class="divider"></div>

    <p></p>
    <ul>
        {{#each minutes}}
            <li><b><a href="/minutesshow/{{this._id}}">{{date}}</a></b> - Participants: {{participants}}</li>
        {{/each}}
    </ul>

    <div class="divider"></div>

    <p></p>
    <a class="waves-effect waves-light btn-large" href="/">OK</a>

    <div class="help">
        <div class="row">
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Quick Help</span>
                        <p>Click on date links to show details for these minutes</p>
                    </div>
                    <div class="card-action">
                        <a href="#" id="btnHideHelp">OK, Hide</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>