<template name="minutesadd">
    <h2 class="header center orange-text" minutesID={{currentMinutesID}}>   <!-- Hack to trigger Session -->
        Add Minutes to Meeting<br>
        {{meeting.project}} - {{meeting.name}}
    </h2>
    <div class="divider"></div>


    <p></p>
    <div class="row">
        <div class="col s3">
            <label for="id_date">Date</label>
            <input id="id_date" type="date" class="datepicker" data-value={{currentDatePlusDeltaDays}} value={{date}}>
        </div>
        <div class="input-field col s12">
            <label for="id_participants">Participants</label>
            <input id="id_participants" type="text" class="validate" value="{{participants}}">
        </div>
        <div class="input-field col s12">
            <label for="id_agenda">Agenda</label>
            <textarea id="id_agenda" class="materialize-textarea" value="{{agenda}}"></textarea>
        </div>

        <div class="col s12">
            <a class="waves-effect waves-light btn modal-trigger" href="#modalAddNewTopic">
                <i class="mdi-action-note-add"></i>
                Add Topic
            </a>
            {{>topics topicsArray}}
        </div>
    </div>



    <!-- *********************** -->
    <!-- MODAL DIALOG: Add Topic -->
    <!-- *********************** -->
    <div id="modalAddNewTopic" class="modal">
        <div class="modal-content">
            <h4>Add New Topic</h4>

            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="id_subject" type="text" class="validate">
                            <label for="id_subject">Subject of Topic</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            <input id="id_priority" type="text" class="validate">
                            <label for="id_priority">Priority</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="id_responsible" type="text" class="validate">
                            <label for="id_responsible">Responsible</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="id_duedate" type="date" class="datepicker" data-value={{currentDatePlusDeltaDays 7}}>
                            <label for="id_duedate" class="active">Due Date</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="id_details" class="materialize-textarea"></textarea>
                            <label for="id_details">Details</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect btn" id="btnOK">OK</a>
            <span> </span>
            <a href="#!" class="modal-action modal-close waves-effect btn" id="btnCancel">Cancel</a>
        </div>
    </div>
    <!-- END-OF MODAL DIALOG: Add Topic -->


</template>