<template name="topicInfoItem">
    <div class="panel topicInfoItem">
        <div class="panel-heading {{topicStateClass}}" role="tab" id="headingOne">
            <h4 class="panel-title">
                <div class="checkbox">
                    <label>
                        {{#if isActionItem}}
                            <input type="checkbox" class="checkbox" id="btnToggleAIState" {{checkedState}} {{disabledState}}>
                        {{else}}
                            <span class="glyphicon glyphicon-info-sign"></span>
                        {{/if}}
                    </label>


                    {{#if isActionItem}}
                        <a role="button" class="panel-link" data-toggle="collapse" data-parent="#accordion"
                           href="#collapse-{{currentCollapseId}}" aria-expanded="true" aria-controls="collapseOne">
                            {{infoItem.subject}}
                            Resp: {{infoItem.responsible}}
                            Prio:{{infoItem.priority}}
                            Due: {{infoItem.duedate}}
                        </a>
                    {{else}}
                        {{infoItem.subject}}
                    {{/if}}

                    <!-- New-Topic-Label -->
                    {{#if infoItem.isNew}}
                        <span class="badge" style="margin-bottom: 5px;">New</span>
                    {{/if}}

                    <!-- Edit & Delete Icons -->
                    {{#if isEditable}}
                        <span class="pull-right">
                            <a id="btnEditInfoItem" href="#" data-toggle="modal" data-target="#dlgAddInfoItem" class="panel-link">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a id="btnDelInfoItem" href="#" class="panel-link">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </span>
                    {{/if}}
                </div>

            </h4>
        </div>

        {{#if isActionItem}}
        <div id="collapse-{{currentCollapseId}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                {{#each detailsArray}}
                    <p>
                        {{this.date}} - <span id="detailText_{{detailID}}" data-id="{{detailID}}" class="detailText">{{this.text}}</span>
                        <input type="text" id="detailInput_{{detailID}}" data-id="{{detailID}}" class="form-control detailInput" style="display: none; font-size: 14px;">
                    </p>
                {{/each}}
            </div>
        </div>
        {{/if}}
    </div>
</template>