<template name="topicInfoItem">
    {{triggerAddDetails}}
    <div class="panel topicInfoItem" data-id="{{infoItem._id}}" data-parent-id="{{parentTopicId}}">
        <div class="panel-heading {{topicStateClass}}" role="tab" id="headingOne" style="position: relative;">
            {{#if detailsArray.length}}
                <a role="button" class="expandDetails hidden-print expand-collapse-triangle" data-toggle="collapse" data-parent="#accordion"
                    href="#collapse-{{currentCollapseId}}" style="position: absolute; top:0; left: 0; color: grey;">
                    {{#if isCollapsed}}
                        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                    {{else}}
                        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                    {{/if}}
                </a>
            {{/if}}
            <h4 class="panel-title">
                <div class="checkbox" style="font-size: 110%;">
                    <label for="btnToggleAIState_{{infoItem._id}}" class="checkboxLabel">
                        {{#if isActionItem}}
                            <input type="checkbox" class="checkbox btnToggleAIState" id="btnToggleAIState_{{infoItem._id}}" {{checkedState}} {{disabledState}}>
                        {{else}}
                            <span class="glyphicon glyphicon-info-sign" style="cursor: auto"></span>
                        {{/if}}
                    </label>

                    <span id="{{idForEdit}}" style="cursor: {{cursorForEdit}};">
                        {{#if isActionItem}}
                                {{infoItem.subject}} {{responsiblesHelper}}
                                {{#if infoItem.priority}}Prio:{{infoItem.priority}}{{/if}}
                                Due: {{infoItem.duedate}}
                        {{else}}
                            {{infoItem.subject}}
                        {{/if}}
                        <span class="labels">
                            <!-- Labels -->
                            {{#each getLabels}}
                                <span class="label" style="background-color: {{color}}; color: {{fontColor}}">{{name}}</span>
                            {{/each}}
                        </span>
                    </span>

                    <!-- New-Topic-Label -->
                    {{#if infoItem.isNew}}
                        <span class="badge">New</span>
                    {{/if}}

                    <!-- Manipulation Drop-Down Menu -->
                    <span class="pull-right pull-right-icons hidden-print">
                        {{#if isEditable}}
                            <a href="#" id="btnItemDropdownMenu" class="panel-dropper dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-option-vertical"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" class="addDetail panel-link" title="Add details to item">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        Add Details
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" id="btnEditInfoItem" class="panel-link" title="Edit item">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        Edit Item
                                    </a>
                                </li>
                                {{#if isInfoItem}}
                                    <li>
                                        <a href="#" class="btnPinInfoItem panel-link"
                                           title="{{#if infoItem.isSticky}}Set as non-pinned info item{{else}}Set as pinned info item{{/if}}">
                                            <span class="glyphicon glyphicon-pushpin {{#if infoItem.isSticky}}sticky-item active-icon{{else}}grey-icon{{/if}}"></span>
                                            {{#if infoItem.isSticky}}Unset{{else}}Set{{/if}} Pinned
                                        </a>
                                    </li>
                                {{/if}}
                                <li>
                                    <a id="btnDelInfoItem" href="#" class="panel-link" title="Delete item">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        Delete Item
                                    </a>
                                </li>
                            </ul>
                        {{/if}}

                        {{#if infoItem.isSticky}}
                            <a href="#" class="panel-link btnPinInfoItem" title="Set as unpinned info item">
                                    <span class="glyphicon glyphicon-pushpin sticky-item active-icon"></span>
                            </a>
                        {{/if}}

                        {{#if isEditable}}
                                <span class="itemDragDropHandle dragDropHandle glyphicon glyphicon-sort"></span>
                        {{/if}}
                        </span>
                </div>

            </h4>
        </div>

        <div id="collapse-{{currentCollapseId}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body actionItemDetails">
                {{#each detailsArray}}
                    <div class="detailRow row" style="margin: 0 0 -10px 0; vertical-align: baseline;">
                        <div>
                            <label for="detailInput_{{../currentCollapseId}}_{{@index}}" class="detailDate"><strong>{{this.date}}</strong></label>
                            <span id="detailActions_{{../currentCollapseId}}_{{@index}}"
                                  class="pull-right pull-right-icons detailActions"
                                  style="display: none;">
                                <span class="detailInputMarkdownHint glyphicon glyphicon-question-sign detailItemIcon">
                                </span>
                                <span class="detailInputDelete glyphicon glyphicon-trash detailItemIcon"
                                      data-id="{{../currentCollapseId}}_{{@index}}">
                                </span>
                            </span>

                        </div>
                        <div style="padding-left: 10px;" class="detailText" data-id="{{../currentCollapseId}}_{{@index}}">
                            <span id="detailText_{{../currentCollapseId}}_{{@index}}"
                                  style="font-size: 120%;"
                                  data-id="{{../currentCollapseId}}_{{@index}}"
                                  data-text="{{this.text}}">
                                {{#markdown}}{{this.text}}{{/markdown}}
                            </span>

                            <textarea id="detailInput_{{../currentCollapseId}}_{{@index}}"
                                      rows="1" data-id="{{../currentCollapseId}}_{{@index}}"
                                      class="form-control detailInput"
                                      style="display: none; font-size: 120%; font-family: 'Lucida Console', 'Monaco', 'Courier New', monospace;"
                                      placeholder="You may use Markdown to edit. Press Esc, Ctrl+Enter or Tab to leave."></textarea>
                        </div>
                    </div>
                {{/each}}
                {{#if isEditable}}
                <a href="#" class="addDetail hidden-print">Add details</a>
                {{/if}}
            </div>
        </div>
    </div>
</template>