<template name="topicElement">
    <div class="well">
        <div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="checkbox" id="btnToggleState" {{checkedState}} {{disabledState}}>
                </label>

                <h3 style="display: inline;">
                    {{topic.subject}}
                    {{#if topic.responsible}}
                        ({{topic.responsible}})
                    {{/if}}
                </h3>

                <!-- Edit & Delete Icons -->
                {{#if isEditable}}
                    <span class="">
                            <a id="btnEditTopic" href="#" data-toggle="modal" data-target="#dlgAddTopic" class="panel-link">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a id="btnDelTopic" href="#" class="panel-link">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </span>
                {{/if}}

                <!-- New-Topic-Label -->
                {{#if topic.isNew}}
                    <span class="badge pull-right" style="margin-bottom: 5px;">New</span>
                {{/if}}
            </div>
        </div>

        <div style="margin-left: 20px; padding-left: 5px;">
            {{#if isEditable}}
                <a href="" id="addTopicInfoItem">Add element...</a>
            {{/if}}
            {{#each getinfoItems}}
                {{> topicItem getInfoItem}}
            {{/each}}
        </div>
    </div>
</template>