<template name="topicInfoItemEdit">
    <!-- ********************************* -->
    <!-- MODAL DIALOG: Edit Topic InfoItem -->
    <!-- ********************************* -->

    <div class="modal fade" id="dlgAddInfoItem" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        {{#if isEditMode}}
                            Edit
                        {{else}}
                            Add
                        {{/if}}
                        {{getTopicItemType}} to {{getTopicSubject}}
                    </h4>
                </div>
                <form id="frmDlgAddInfoItem">
                    <div class="modal-body">
                        <div class="form-group label-floating">
                            <label for="id_item_subject" class="control-label">Subject (mandatory)</label>
                            <input id="id_item_subject" type="text" class="form-control" required
                                   data-error-msg="Please enter a valid subject" autocomplete="off">
                        </div>

                        {{#unless isEditMode}}
                        <div class="form-group form-group-labels">
                            <a id="btnExpandCollapse" class="expandDetails hidden-print expand-collapse-triangle"
                               tabindex="-1"
                               data-toggle="collapse"
                               href="#"
                               style="color: grey; text-decoration: none;">
                                {{#if collapseState}}
                                    <span id="collapseExpandFalse" class="glyphicon glyphicon-triangle-bottom collapseExpandDetails"></span>
                                {{else}}
                                    <span id="collapseExpandTrue" class="glyphicon glyphicon-triangle-right collapseExpandDetails"></span>
                                {{/if}}
                                <label for="id_item_detailInput" class="control-label" style="color: teal; cursor: pointer;">Details</label>
                            </a>
                            <span class="pull-right pull-right-icons detailActions detailInputMarkdownHint glyphicon glyphicon-question-sign detailItemIcon"
                                      style="margin-top: 11px;"></span>
                            <textarea id="id_item_detailInput"
                                      rows="2"
                                      class="form-control detailInput"
                                      style="font-size: 120%; font-family: 'Lucida Console', 'Monaco', 'Courier New', monospace;"
                                      placeholder="You may use Markdown to edit."></textarea>
                        </div>
                        {{/unless}}

                        <div class="form-group form-group-labels">
                            <label for="id_item_selLabelsActionItem" class="control-label" style="color: teal;">Labels</label>
                            <select id="id_item_selLabelsActionItem" multiple="multiple" style="width:100%;">
                                <!--Options will be filled in by show.bs.modal event handler-->
                            </select>
                        </div>

                        <div class="actionItemOnly" style="display: none;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group-responsibles">
                                        <label for="id_selResponsibleActionItem" class="control-label" style="color: teal;">Responsible</label>
                                        <select id="id_selResponsibleActionItem" multiple="multiple" style="width:100%;">
                                            <!--Options will be filled in by show.bs.modal event handler-->
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label for="id_item_priority" class="control-label">Priority</label>
                                        <input id="id_item_priority" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class='input-group date' id='id_item_duedatePicker'>
                                            <input id="id_item_duedateInput" type='text' class="form-control"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"  id="btnInfoItemCancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit"  id="btnInfoItemSave" class="btn btn-primary btn-raised">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END-OF MODAL DIALOG: Add Topic -->
</template>