<template name="topicItem">
    <div class="panel">
        <div class="panel-heading {{topicStateClass}}" role="tab" id="headingOne">
            <h4 class="panel-title">
                <div class="checkbox">
                    <label>
                        {{#if isActionItem}}
                            <input type="checkbox" class="checkbox" id="btnToggleState" {{checkedState}} {{disabledState}}>
                        {{else}}
                            <span class="glyphicon glyphicon-info-sign"></span>
                        {{/if}}
                    </label>


                    {{#if isActionItem}}
                        <a role="button" class="panel-link" data-toggle="collapse" data-parent="#accordion"
                           href="#collapse-{{currentCollapseId}}" aria-expanded="true" aria-controls="collapseOne">
                            {{topic.subject}}
                            Resp: {{topic.responsible}}
                            Prio:{{topic.priority}}
                            Due: {{topic.duedate}}
                        </a>
                    {{else}}
                        {{topic.subject}}
                    {{/if}}

                    <!-- New-Topic-Label -->
                    {{#if topic.isNew}}
                        <span class="badge" style="margin-bottom: 5px;">New</span>
                    {{/if}}

                    <!-- Edit & Delete Icons -->
                    {{#if isEditable}}
                        <span class="pull-right">
                            <a id="btnEditTopic" href="#" data-toggle="modal" data-target="#dlgAddTopic" class="panel-link">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a id="btnDelTopic" href="#" class="panel-link">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </span>
                    {{/if}}
                </div>

            </h4>
        </div>

        {{#if isActionItem}}
        <div id="collapse-{{currentCollapseId}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                {{#each detailsArray}}
                    <p>{{this.date}} - {{this.text}}</p>
                {{/each}}
            </div>
        </div>
        {{/if}}
    </div>
</template>