<template name="topicInfoItemEdit">
    <!-- ********************************* -->
    <!-- MODAL DIALOG: Edit Topic InfoItem -->
    <!-- ********************************* -->

    <div class="modal fade" id="dlgAddInfoItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        {{#if isEditMode}}
                            Edit
                        {{else}}
                            Add
                        {{/if}}
                        {{getTopicItemType}} to {{getTopicSubject}}
                    </h4>
                </div>
                {{> error}}
                <div class="modal-body">
                    <form id="frmDlgAddTopic">
                        <div class="form-group">
                            <label>Type</label>
                            <div class="radio">
                                <label for="type_infoItem" id="label_infoItem">
                                    <input type="radio" name="id_type" id="type_infoItem" value="infoItem" class="type" {{disableTypeChange}} checked>
                                    Information
                                </label>
                                <label for="type_actionItem" id="label_actionItem">
                                    <input type="radio" name="id_type" id="type_actionItem" value="actionItem" class="type" {{disableTypeChange}}>
                                    Action Item
                                </label>
                            </div>
                        </div>

                        <div class="form-group label-floating">
                            <label for="id_item_subject" class="control-label">Subject (mandatory)</label>
                            <input id="id_item_subject" type="text" class="form-control" required>
                        </div>

                        <div class="actionItemOnly" style="display: none;">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label for="id_item_priority" class="control-label">Priority</label>
                                        <input id="id_item_priority" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label for="id_item_responsible" class="control-label">Responsible</label>
                                        <input id="id_item_responsible" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class='input-group date' id='id_item_duedatePicker'>
                                            <input id="id_item_duedateInput" type='text' class="form-control"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{#unless isEditMode}}
                                <div class="form-group">
                                    <label for="id_item_details">Details</label>
                                    <textarea id="id_item_details" class="form-control" style="resize: vertical;"></textarea>
                                </div>
                            {{/unless}}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary btn-raised" id="btnInfoItemSave">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END-OF MODAL DIALOG: Add Topic -->
</template>