<template name="topicFilter">
    <div class="row">

        <div class="col-sm-2">
            <div class="form-group">
                <select id="filters" class="form-control">
                    <option id="noFilter" value="">Filters</option>
                    {{#each filters}}
                        <option value="{{value}}">{{text}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="col-xs-8">
            <input type="text" id="inputFilter" class="form-control" placeholder="Filter">
        </div>

        <div class="col-xs-2 align-with-input">
            <div class="checkbox" title="Match Case">
                <label for="cbCaseSensitiveFilter">
                    <input type="checkbox" class="checkbox" id="cbCaseSensitiveFilter">
                    <span class="hidden-sm hidden-xs">Match Case</span>
                </label>
            </div>
        </div>



    </div>
</template>