<template name="topicFilter">
    <div class="row">

        <div class="col-md-10">
            <input type="text" id="inputFilter" class="form-control" placeholder="Filter">
        </div>

        <div class="col-md-2 align-with-input">
            <div class="checkbox">
                <label for="cbCaseSensitiveFilter">
                    <input type="checkbox" class="checkbox" id="cbCaseSensitiveFilter">
                    Match Case
                </label>
            </div>
        </div>



    </div>
</template>