<template name="assignedActionItem">
    Hello {{name}},<br>
    <br>
    you have benn assigned to the following action items:<br>

    <ul>
        {{#each actionItem}}
        <li>
            {{subject}} (Topic: {{topicSubject}})
                <ul>
                    {{#if responsibles}}<li>Resp: {{responsibles}}</li>{{/if}}
                    {{#if priority}}<li>Prio: {{priority}}</li>{{/if}}
                    {{#if duedate}}<li>Due: {{duedate}}</li>{{/if}}
                    {{#each details}}
                        <li>{{date}} - {{text}}</li>
                    {{/each}}
                </ul>
        </li>
        {{/each}}
    </ul>
</template>