<template name="navigation">
  <nav class="orange" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">4minitz</a>
      <ul class="right">
        {{#if currentUser}}
          <li>Logged in as {{currentUser.username}} {{> atNavButton}}</li>
        {{/if}}
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</template>
