
<template name="navigation">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <!--Collapse/Expand button on small devices-->
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>  <!--These are the three stripes of the Hamburger icon-->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- #Security: We are using three curly braces here to give the system admin -->
                <!-- the chance to configure some nice brand logo for his company even with HTML tags -->
                <!-- We asume a sysadmin won't insert any harmful code here -->
                <a class="navbar-brand" href="{{pathFor '/'}}">{{{ logoHTML }}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!-- class="active" -->
                    <li><a target="_blank" href="https://github.com/4minitz/4minitz/blob/develop/doc/user/usermanual.md">
                        Help</a>
                    </li>
                    <li><a href="#" data-toggle="modal" data-target="#dlgAbout">
                        About</a>
                    </li>

                    <!--User DropDown Menu-->
                    {{#if currentUser}}
                        <li class="dropdown">
                            <a href="#" id="navbar-usermenu" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                {{displayUsername}}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {{#if currentUser.isAdmin}}
                                    <li><a href="{{pathFor 'admin'}}">
                                        Admin Tasks</a>
                                    </li>
                                {{/if}}
                                {{#unless currentUser.isLDAPuser}}
                                    <li><a href="#" data-toggle="modal" data-target="#dlgEditProfile" id="navbar-dlgEditProfile">
                                        Edit Profile</a>
                                    </li>
                                    <li><a href="#" data-toggle="modal" data-target="#dlgChangePassword" id="navbar-dlgChangePassword">
                                        Change Password</a>
                                    </li>
                                    <li class="divider"></li>
                                {{/unless}}

                                <li><a href="#" id="navbar-signout">
                                    Sign Out</a>
                                </li>
                            </ul>
                        </li>
                    {{/if}}  <!--currentUser?-->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    {{> aboutDialog }}

    {{> passwordChangeDialog }}

    {{> profileEditDialog }}

</template>
